.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  width: 100%;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 50%;
}

.user-hand{
  transform: rotateY(180deg);
}

.btn{
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #666a72;
  color: white;
}

.btn:hover{
  background-color: black;
}

.bg-danger{
  background-color: #ff4d4d;
  color: white;
}